.digit{
    padding-right: 2em;
    padding-left: 2em;
}
#period{
    padding-right: 2.15em;
    padding-left: 2.15em; 
}
#equals{
    padding-right: 1.98em;
    padding-left: 1.98em;
}
#zero{
    padding-right: 4.54em;
    padding-left: 4.54em;
}
#normal_orient{
    float: left;
    width: 215px;
}
#vert_orient{
    float:left;
    width: 10px;
}
#main_display{
    text-align: right;
    margin-left: 1.6em;
}
#clear{
    padding-right: 1.9em;
    padding-left: 2em;
}
#posneg{
    padding-right: 2em;
    padding-left: 1.57em;
}
#divop{
    padding-right: 2em;
    padding-left: 2.15em;
}
#mem_save,#mem_add,#mem_subtract,#mem_clear,#mem_recall{
    padding-right: .92em;
    padding-left: .92em;
}
#row6 button.vert{
  margin-top:.75em;
  padding-right: 1.5em;
  padding-left: 1.5em;
}
#row6 #plus{
  margin-top:.68em;
  padding-right: 1.42em;
  padding-left: 1.42em;
}
#row6 #equal{
  margin-top:.68em;
  padding-right: 1.42em;
  padding-left: 1.42em;
  padding-top: 1.7em;
  padding-bottom: 1.7em;
}
