<div class="navbar navbar-inverse navbar-fixed-top" id="navigation">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">WTF Should I Wear?</a>
      <div class="nav-collapse collapse">
        <ul class="nav pull-right">
          <div id="user_nav">
            <% if current_user %>
              <%= image_tag current_user.user_image_url, :id=>"user_icon"%>
              <span id="navigation_text">Signed in as <strong color="white"><%= current_user.name %></strong></span>
              <%= link_to "Sign out", signout_path, id: "sign_out", :class => "btn btn-danger" %>
            <% end %>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
