<!DOCTYPE html>
<html>
<head>
  <title>WTF Should I Wear?</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navigation' %>
<% if flash[:notice] %> 
  <div class="alert">
    <%= flash[:notice] %>
  </div>
<% end %>
<div class="container">
	<%= yield %>
</div>


</body>
</html>
