body{
  background: #EAEBEB;
  margin: 0 auto;
  width: 800px;
  color: #333;
  font-family: 'Ubuntu', sans-serif;
}
#header, #content, #footer{
  margin: 10px 0;
  padding-left: 20px;
}
#footer{
  padding-bottom: 20px;
  clear: both;
}
#title{
  font-size: 2em;
  font-weight: bold;
}
#nav{
  padding: 0;
}
#nav li{
  display: inline;
}
#nav li a{
  text-decoration: none;
  color: #007D7D;
  margin-right: 10px;
}
#nav li a:hover{
  text-decoration: underline;
} 
#content{
  clear: both;
  background: #fff;
  padding-left: 30px;
  padding-bottom: 30px;
}
#picture{
  float: left;
}
#bio{
  margin-top: 220px;
  margin-left: 50px;
  float: left;
}
#education{
  clear: both;
}
#education table{
  width: 100%;
}
#education table th{
  text-align: left;
}
#books li{
  list-style: none;
  margin-bottom: 10px;
}
#address{
  float: left;
}
#contact{
  float: right;
}
a:link{
  color:#990000; text-decoration:underline;
}
a:hover{
  color:#990000; text-decoration:none;
}
a:visited{
  color:#737373; text-decoration:underline;
}
