// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#navigation_text{
    color:white;
    opacity: .85;
}
#low_temp,#high_temp,#rain_chance{
    font-size: 500%;
}
body{
    padding-top:5em;
}

#add_item_button {
  position: fixed;
  right: 5px;
  top: 55px;
  font-size: 150%;
}
