<div id="weather_header" class="row text-center">
  <div class="span4">
   <h1 id="high_temp">{{high}}&deg;F</h1><p class="lead">High Temperature</p>
  </div>
  <div class="span4">
   <h1 id="low_temp">{{low}}&deg;F</h1><p class="lead">Low Temperature</p>
  </div>
  <div class="span4">
   <h1 id="rain_chance">{{rain_chance}}%</h1><p class="lead">Chance of Rain</p>
  </div>
</div>
<hr id="weather_header_sep">
