<h3 class="lead">Suggested Clothing Items</h3>
{{#if headwear}}
<div id="headwear">
  <dl>
    <dt class="lead">Headwear</dt>
    <dd><div id="headwear_carousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        {{#each headwear}}
        {{#if @index}}
        <div class="item">
          {{else}}
          <div class="active item">
            {{/if}}
            <img src="{{this.image}}">
            <div class="carousel-caption">
              <h4>Title: {{this.title}}</h4>
              <dl>
                  <dt>High Temperature:</dt>
                  <dd>{{this.high}}&deg;F</dd>
                <dt>Low Temperature:</dt>
                <dd>{{this.low}}&deg;F</dd>
                <dt>Chance of rain</dt>
                <dd>{{this.chance_of_rain}}%</dd>
                <a href='http://www.etsy.com/search?q={{this.title}}'><dt>Link on Etsy</dt></a>
              </dl>
            </div>
          </div>
          {{/each}}
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#headwear_carousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#headwear_carousel" data-slide="next">&rsaquo;</a>
      </div></dd>
    </dl>
  </div>
  {{/if}}

  {{#if upper_body}}
  <div id="upper_body">
    <dl>
      <dt class="lead">Upper Body</dt>
      <dd><div id="upper_body_carousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
          {{#each upper_body}}
          {{#if @index}}
          <div class="item">    
            {{else}}
            <div class="active item">
              {{/if}}
              <img src="{{this.image}}">
              <div class="carousel-caption">
                <h4>Title: {{this.title}}</h4>
                <dl>
                  <dt>Low Temperature:</dt>
                  <dd>{{this.low}}&deg;F</dd>
                  <dt>High Temperature:</dt>
                  <dd>{{this.high}}&deg;F</dd>
                  <dt>Chance of rain</dt>
                  <dd>{{this.chance_of_rain}}%</dd>
                </dl>
              </div>
            </div>
            {{/each}}
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#upper_body_carousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#upper_body_carousel" data-slide="next">&rsaquo;</a>
        </div></dd>
      </dl>
    </div>
    {{/if}}
