<% attrs = [:title, :high, :low, :chance_of_rain] %>

<div class="row">
  <% ([:image] + attrs).each do |attr| %>
    <div class="span2">
      <%= attr.to_s.titleize %>
    </div>
  <% end %>
</div>

<div id="admin_items">
<% @items.each do |item| %>
  <div class="row">
    <div class="span2">
      <%= image_tag item.image %>
    </div>
    <% attrs.each do |attr| %>
      <div class="span2">
        <%= item[attr] %>
      </div>
    <% end %>
    <div class="span2">
      <%= link_to 'Delete', item, :class => 'btn btn-danger', :method => :delete, :confirm => "Are you sure?", :remote => true %>
      <%= link_to 'Approve', item_approve_path(item), :class => 'btn btn-success', :remote => true %>
    </div>
  </div>
<% end %>
</div>
