<div class="row">
  <div class="span3">

    <%= form_for(@item) do |f| %>
      <h4>High and Low</h4>
      <div class="temp-slider"></div>
      <div class="temp-value"></div>
      <div class="field">
        <%= f.hidden_field(:high) %>
      </div>

    <div class="field">
      <%= f.hidden_field(:low) %>
    </div>

    <div class="field">
      <h4>Chance of Rain</h4>
      <div class="precip-slider"></div>
      <div class="precip-value"></div></br>
      <%= f.hidden_field(:chance_of_rain) %>
    </div>

    <div class="field">
      <%= f.label :image %> 
      <%= f.hidden_field :image, :id => "image"%> 
      <div id="displayedimage">
        <font color="red"> No image selected.
        </font>
      </div>
    </div>

    <div class="field">
      <%= f.label :category %>
      <%= f.select :category, [["Headwear", 0], ["Upper body", 1], ["Lower body", 2], ["Accessory", 3]] %>
    </div>

    <div class="field">
      <%= f.label :gender %> 
      <%= f.select :gender, [["Male", "male"], ["Female", "female"], ["Unisex", "unisex"]] %>
    </div>

    <div class="field">
      <%= f.label :title %> 
      <%= f.text_field :title %> 
    </div>

    <div class="actions">
      <%= f.submit "Save" %> 
    </div>

  <% end %>
  </div>
  <div class="span9">
    <div id="etsy-images"></div>
    <div id="etsy-nav" class="row text-center">
      <div class="btn-group">
        <button class="btn etsy-prev">Prev</button>
        <button class="btn etsy-next">Next</button>
      </div>
    </div>
  </div>
</div>

<script>
var page = 1;
$('#item_title').keypress(function(){
  timeout(function(){
    get_page(1);
  }, 1000);
});

var timeout = (function(){
  var timer = 0;
  return function(callback, ms){
    clearTimeout(timer);
    timer = setTimeout(callback, ms);
  }
})();

$(function(){
  $("#etsy-nav").hide();
  $.each({prev: -1, next: 1}, function(key, val){
    $(".etsy-"+key).click(function(){
      page = page + val;
      get_page(page);
    });
  });
});

function get_page(n) {
  var terms = $('#item_title').val();
  var api_key = "crp6v84m4wux42w2b86o78hk";
  var items_per_page = 15;
  if (terms.length > 0) {
    $('#etsy-images').html($('<p>').text('Searching for '+terms));
    $('#etsy-nav').hide();
    $.getJSON("http://openapi.etsy.com/v2/listings/active.js?callback=?", {
      keywords: terms,
      limit: items_per_page,
      offset: Math.max(items_per_page * (n - 1), 0),
      includes: "Images:1",
      api_key: api_key,
    }, function(data) {
      if (data.ok) {
        $('#etsy-nav').show();
        $('#etsy-images').empty();
        if (data.count > 0) {
          $.each(data.results, function(i, item) {
            $("<img>").attr("src", item.Images[0].url_170x135).appendTo("#etsy-images");
          });
        } else {
          $('<p>No results.</p>').appendTo('#etsy-images');
        }
      }

      $("#etsy-images").on("click", "img", function() {
        $("#image").val($(this).attr("src"))
        $("#displayedimage").html($("<img/>").attr("src",$(this).attr("src")))
      });
    });
  }
  return false;
}

$(function(){
  $(".temp-slider").slider({ min: -10, max: 120, range: true, values: [0, 80]});
  $(".precip-slider").slider({ min: 0, max: 100, value: 0});

  $(".temp-value").html($( ".temp-slider" ).slider( "values", 0 ) + '&deg; F - ' + $( ".temp-slider" ).slider( "values", 1 ) + '&deg; F');
  $(".precip-value").html($( ".precip-slider" ).slider( "value" ) + '%');

  $("#item_chance_of_rain").val($( ".precip-slider" ).slider( "value"));
  $("#item_high").val($( ".temp-slider" ).slider( "values", 1 ));
  $("#item_low").val($( ".temp-slider" ).slider( "values", 0 ));

  $(".temp-slider").on( "slidechange", function( event, ui ) {
    $(".temp-value").html($( ".temp-slider" ).slider( "values", 0 ) + '&deg; F - ' + $( ".temp-slider" ).slider( "values", 1 ) + '&deg; F');
    $("#item_high").val($( ".temp-slider" ).slider( "values", 1));
    $("#item_low").val($( ".temp-slider" ).slider( "values", 0 ));
  });

  $(".precip-slider").on( "slidechange", function( event, ui ) {
    $(".precip-value").html($( ".precip-slider" ).slider( "value" ) + '%');
    $("#item_chance_of_rain").val($( ".precip-slider" ).slider( "value"));
  });
});

</script>
