<h3>No location huh?</br>
  Well enter you F***ing zip then</h3>
<form class="zip-form form-horizontal">
  <div class="control-group">
    <div class="controls">
      <input type="text" name="zip" class="input-large" placeholder="Enter zip code..."autofocus>
      <button type="submit" id="invis" class="btn">Search</button>
    </div>
  </div>
</form>
