<p class="lead">Weather information as of: <%= Time.now.strftime("%A %B %-d %Y, %r") %></p>
<div id="header"></div>
<div id="items"></div>

<%= link_to new_item_path, :class=>"btn btn-primary btn-large", :id => "add_item_button" do %>
  <i class="icon-plus icon-2x"></i>
  Add Item
<% end %>
<%= javascript_include_tag "render_templates" %>
