<div class="jumbotron">
        <h1>WTFShouldIWear?</h1>
        <p class="lead">Flats or Boots? With WTFShouldIWear this is no longer a problem! We use advanced weather data and hip items to keep you looking fresh anytime anywhere!</p>
        <%= link_to " <i class=\"icon-facebook-sign icon-2x\"></i>   Sign in with Facebook".html_safe, "/auth/facebook", id: "sign_in", :class => "btn btn-primary btn-large" %>
 </div>